/*styles for onboarding content only*/
.onboarding-content{
  padding-bottom:136px;
}
.onboarding{
  .title{
    font-size:29px;
    margin:0 0 52px 0;
    color:#666;
  }
  .step
  {
    font-size: 14px;
    color: #666;
    margin-bottom:25px;
  }
  .stepHeader{
    font-size:27px;
    margin-bottom:20px;
    line-height:28px;
  }
  .upload-image-section{
    margin-bottom:30px;
    .profile-photo{
      width:164px;
      height:164px;
      background-color: #f1f1f1;
      display:inline-block;
      margin-right:25px;
      text-align: center;
      vertical-align: middle;
    }
  }
  .onboarding-btn{
    padding:10px 100px;
  }
  textarea{
    height:80px;
    resize: none;
  }
  .lookingFor{

      .lookingFor-thumb{
        background-color: #e2e2e2;
        padding:50px 0;
        height:225px;
        position:relative;
        i{
          display:inline-block;
          position:absolute;
          width:100px;
          height:100px;
          left:50%;
          top:50%;
          margin:-50px 0 0 -50px;
          &.personal{
            background:url("../../images/man-user.svg") no-repeat scroll center center / 100%;
          }
          &.professional{
            background:url("../../images/man.svg") no-repeat scroll center center / 100%;
          }
          &.intellectual{
            background:url("../../images/intellectual.svg") no-repeat scroll center center / 100%;
          }
          &.auditory{
            background:url("../../images/auditory.svg") no-repeat scroll center center / 100%;
          }
          &.read-write{
            background:url("../../images/read-write.svg") no-repeat scroll center center / 100%;
          }
        }
      }
      &.learner{
        .lookingFor-thumb{
          height:0;
          padding-bottom:65%;
          i{
            width:75px;
            height:75px;
            margin:-37px 0 0 -37px;
            &.fa{
              font-size:75px;
              color:#666;
            }
          }
        }
      }
      &.interest, &.communities{
        margin-bottom:30px;
        .lookingFor-thumb{
          height: 0;
          padding-bottom:40%;
        }
        .lookingForTitle{
          background-color: #666;
          color:#fff;
          font-size:inherit;
          margin:0;
          padding:10px;
        }
      }
      .lookingForTitle{
        display:block;
        margin-top:10px;
        font-size:20px;
        color:#666;
        
      }
      .lookingForDesc{
        margin:10px 0 0 0;
        font-size:13px;
        color:#666;
      } 
  }
}
label.check > input, label.radiobox > input{display: none;}
  label.check, label.radiobox{
    font-size: 14px;
    font-weight: normal;
    position:absolute;
    top:5px;
    right:25px;
    z-index: 1;
  }
  label.check i, label.radiobox i {
      height: 24px;
      width: 24px;
      background-color: #fff;
      display: inline-block;
      position: relative;
      left: 0px;
      top: 5px;
      border-radius:5px;
      border:1px solid #ccc;
      font-style:normal;
  }
  label.radiobox i{border-radius:50%;}
  label.check [type=checkbox]:checked + i, label.radiobox [type=checkbox]:checked + i{color:#666;}
  label.check [type=checkbox]:checked + i:before, label.radiobox [type=checkbox]:checked + i:before {
    display:inline-block;
    content: '\f00c';
    position: absolute;
    top: 2px;
    left: 4px;
    color:#666;
    font-family:"FontAwesome";
  }

  .follow-people{
    &{
      position:relative;
    	min-height: 80px;
      margin-bottom:30px;
    }
    .fp-thumb{
      position:absolute;
    }
    .fp-name{
      &{
        font-size:1.2500em;
        line-height: 32px;
        position: relative;
	      padding-left: 95px; 
      }
      .fp-designation{
        color:#999;
        display:block;
      }
    }
    label.radiobox{
      top:50px;
      left:0;
      right:auto;
    }
  }
.social-media-box{
  .social-icon{
    &{
      width:82px;
      height: 82px;
      border-radius: 50%;
      margin-right:37px;
      margin-bottom:20px;
      color:#fff;
      text-align: center;
      float:left;
    }
    &.facebook{
      background-color:#3b5998;
    }
    &.google{
      border: 1px solid #ccc;
      .fa-google:after{
        background:url("../../images/google-logo.svg") no-repeat scroll center center / 100%;
        content:'';
        display:inline-block;
        position:absolute;
        width:35px;
        height:35px;
        left:0;
      }
    }
    &.linkedin{
      background-color:#0077b5;
    }
    &.instagram{
      background:url("../../images/Instagram.png") no-repeat scroll center center / 100%;
    }
    &.twitter{
      background-color:#55acee;
    }
    &.snapchat{
      background-color:#ffe400;
    }
    .fa{
      font-size: 40px;
      padding-top: 22px;
      text-align: center;
      position: relative;
    }
    &:last-child{
      margin-right:0;
    }
  }
}
.btn-connect-start{
  padding:10px 90px;
}
.btn-connect-invite{
  padding:10px 40px;
  margin-left:10px;
}
.social-icon-invite{
  &{
    float:left;
    line-height: 38px;
    margin-left:10px;
    color:#2472ff;
  }
  & [class^="icon-"]{
    width:38px;
    height:38px;
    border-radius: 50%;
    color:#fff;
    text-align: center;
    display:inline-block;
  }
  .icon-facebook{
    background-color:#3b5998;
  }
  .icon-google{
    border:1px solid #ccc;
    .fa-google:after{
      background:url("../../images/google-logo.svg") no-repeat scroll center center / 100%;
      content:'';
      display:inline-block;
      position:absolute;
      width:18px;
      height:18px;
      left:-2px;
      top:9px;
    }
  }
  .fa{
    font-size:18px;
    line-height:38px;
    text-align:center;
    position:relative;
  }
  
}
/* ----- onboarding footer ----- */
.onboarding-footer{
  padding:20px 0;
  background-color:#fbfbfb;
  // position:absolute;
  width:100%;
  bottom:0;
  left:0;
  right:0;

  .label-completed{
    font-size: 12px;
    text-transform: uppercase;
    color: #999;
  }
  .progressBar{
    margin-top:10px;
    background-color: #e2e2e2;
    width:410px;
    height:8px;
    position: relative;
    span{
      display:inline-block;
      position: absolute;
      height:100%;
      transition:0.2s;
      background-color:#9b9b9b;
    }
  }
  .onboarding-footer-btn{
    color:#ccc;
    float:right;
    .fa-chevron-right{
      vertical-align: middle;
    }
    &:hover, &:active, &:focus{
      color:#fff;
      box-shadow:none;
      border-color:transparent;
    }
  }
}