<div [formGroup]="itenaryForm">

    <button type="button" class="btn btn-primary" (click)="addContent();onlineModal.show()">+Online</button>
    <div bsModal #onlineModal="bs-modal" class="modal fade" [config]="{ ignoreBackdropClick: true }" tabindex="-1" role="dialog"
        aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title pull-left">Online Content</h4>
                    <button type="button" class="close pull-right" (click)="onlineModal.hide();remove()" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">


                </div>
            </div>
        </div>
    </div>

    <button type="button" class="btn btn-primary" (click)="addContent();inPersonModal.show()">+In Person</button>
    <div bsModal #inPersonModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title pull-left">InPersonModal Content</h4>
                    <button type="button" class="close pull-right" (click)="inPersonModal.hide()" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">


                </div>
            </div>
        </div>
    </div>

    <button type="button" class="btn btn-primary" (click)="addContent();videoModal.show()">+Video</button>
    <div bsModal #videoModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title pull-left">Video Content</h4>
                    <button type="button" class="close pull-right" (click)="videoModal.hide()" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">


                </div>
            </div>
        </div>
    </div>

    <button type="button" class="btn btn-primary" (click)="addContent();projectModal.show()">+Project</button>
    <div bsModal #projectModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title pull-left">Project Content</h4>
                    <button type="button" class="close pull-right" (click)="projectModal.hide()" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">


                </div>
            </div>
        </div>
    </div>

    <div class="form-group col-xs-12">
        <label>Date</label>
        <input type="text" class="form-control" formControlName="date">
    </div>
    <div formArrayName="contents">
        <div *ngFor="let Content of itenaryForm.controls.contents.controls; let i=index" class="panel panel-default">
            <div class="panel-heading">
                <span>Content {{i + 1}}</span>
                <span class="glyphicon glyphicon-remove pull-right" *ngIf="itenaryForm.controls.contents.controls.length > 1" (click)="removeContent(i)"></span>
            </div>
            <div>

                <div class="panel-body" [formGroupName]="i">
                    <div class="form-group col-xs-6">
                        <label>title</label>
                        <input type="text" class="form-control" formControlName="title">
                    </div>
                    <div class="form-group col-xs-6">
                        <label>description</label>
                        <input type="text" class="form-control" formControlName="description">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="margin-20">
        <a (click)="addContent()" style="cursor: default">
      Add another Content +
    </a>
    </div>
    <pre>{{itenaryForm.value | json}}</pre>
</div>