<!--component html goes here -->
<div id="content" class="review-pay-setion">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <div class="title">Review and pay</div>
                <div class="seperate-section">
                    <div class="fs-14 margin-bottom-10">Guest requirements</div>
                    <span class="fs-13 text-grey">Must be above 18 and can't wear shoes</span>
                </div>
                <h3>Payment method</h3>
                <form name="review-and-pay" novalidate>
                    <div class="row margin-bottom-30">
                        <div class="col-sm-6">
                            <label>Billing Country</label>
                            <select class="form-control">
                                <option value="Australia">Australia</option>
                                <option value="India">India</option>
                                <option value="Italy">Italy</option>
                                <option value="Japan">Japan</option>
                                <option value="United Kindem">United Kindem</option>
                            </select>
                        </div>
                    </div>
                    <div class="row margin-bottom-50">
                        <div class="col-sm-6">
                            <label>Payment type</label>
                            <select class="form-control">
                                <option value="">Add new card</option>
                                <option value="Australia">Visa Debit Card</option>
                                <option value="India">Visa Credit Card</option>
                                <option value="Italy">Discover Card</option>
                                <option value="Japan">Master Card</option>
                                <option value="United Kindem">Paypal</option>
                            </select>
                        </div>
                        <div class="col-sm-6">
                            <div class="margin-top-25">
                                <a href="#" class="text-grey"><i class="fa fa-cc-visa fa-2x"></i></a>
                                <a href="#" class="text-grey"><i class="fa fa-cc-mastercard fa-2x"></i></a>
                                <a href="#" class="text-grey"><i class="fa fa-cc-amex fa-2x"></i></a>
                                <a href="#" class="text-grey"><i class="fa fa-cc-discover fa-2x"></i></a>
                                <a href="#" class="text-grey"><i class="fa fa-cc-paypal fa-2x"></i></a>
                                <!--<span class="text-grey"><i class="fa fa-cc-mastercard fa-2x"></i></span>
                                <div class="display-inline-block fs-12 text-grey">
                                    <span>Name: <span class="text-black">Prome Fariya Anjum</span></span><br>
                                    <span>Expires: <span class="text-black">12/19</span></span>
                                </div>-->

                            </div>
                        </div>
                    </div>
                    <div class="card-details">
                        <div class="row margin-bottom-10">
                            <div class="col-sm-9">
                                <label class="small">Card number *</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" />
                                    <span class="input-group-addon"><i class="fa fa-lock fs-18"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="row margin-bottom-30">
                            <div class="col-sm-3">
                                <label class="small">Expires on *</label>
                                <input type="text" class="form-control" placeholder="MM" />
                            </div>
                            <div class="col-sm-3">
                                <label class="small">&nbsp;</label>
                                <input type="text" class="form-control" placeholder="YYYY" />
                            </div>
                            <div class="col-sm-3">
                                <label class="small">Security code *</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" />
                                    <span class="input-group-addon"><i class="fa fa-question-circle"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="row margin-bottom-20">
                            <div class="col-sm-6">
                                <label class="small">First Name</label>
                                <input type="text" class="form-control" placeholder="Faria" />
                            </div>
                            <div class="col-sm-6">
                                <label class="small">Last Name</label>
                                <input type="text" class="form-control" placeholder="Anzum" />
                            </div>
                        </div>
                        <div class="row margin-bottom-20">
                            <div class="col-sm-6">
                                <label class="small">Street Address *</label>
                                <input type="text" class="form-control" />
                            </div>
                            <div class="col-sm-3">
                                <label class="small">Apt #</label>
                                <input type="text" class="form-control" />
                            </div>
                        </div>
                        <div class="row margin-bottom-50">
                            <div class="col-sm-5">
                                <label class="small">City *</label>
                                <input type="text" class="form-control" />
                            </div>
                            <div class="col-sm-3">
                                <label class="small">State</label>
                                <input type="text" class="form-control" />
                            </div>
                            <div class="col-sm-4">
                                <label class="small">Postal code *</label>
                                <input type="text" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="terms-text">
                        <div class="terms-title">Terms of Service</div>
                        <p class="text-grey">By confirming this booking you are agree to the Peerbuds additional terms of service, Guest Release
                            and Waiver, and the Cancellation Policy.</p>
                    </div>
                    <button class="btn btn-default btn-lg">156 zt. Confirm booking</button>
                </form>
            </div>
            <div class="col-sm-3 col-sm-offset-2">
                <div class="sidebar-right">
                    <div class="sidebar-box">
                        <div class="seperate-section">
                            <div class="display-table">
                                <div class="display-table-cell vertical-align-top padding-right-30 fs-18 text-grey">The art of crabbing 4 hour experience Hosted by Alex</div>
                                <div class="display-table-cell text-right">
                                    <img src="images/topics-you-like-1.jpg" width="100" alt="image" />
                                </div>
                            </div>
                        </div>
                        <div class="seperate-section">
                            <div class="">Fri, June 30</div>
                            <div class="">1 snack, drink and equipment</div>
                            <a href="#">See details</a>
                        </div>
                        <div class="seperate-section">
                            <div class="margin-bottom-10">
                                <span class="text-grey">156 zt x 1 guest</span>
                                <span class="pull-right">156 zt</span>
                            </div>
                            <a href="#" class="display-inline-block margin-bottom-10">Add coupan</a>
                            <div class="margin-bottom-10">
                                <span class="text-grey">Total</span>
                                <span class="pull-right fw-bold">156 zt</span>
                            </div>
                        </div>
                        <div class="seperate-section">
                            <div class="fs-18 margin-bottom-10">Cancellation Policy</div>
                            <div class="fs-14 text-grey">Get a <span class="text-black">full refund</span> if you cancel within 24 hours of purchase.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>