/*styles for onboarding content only*/
@import "./src/styles/utilities/config";

.step
{
  font-size: 20px;
  color: #666;
}

.image-upload[_ngcontent-igs-0]
{
    display: flex !important;
    float: left !important;
    width: 100% !important;
    border: none !important;
}

.file-upload
{
    order: 2 !important;
    float: left !important;
    width: 25% !important;
    background-color: none !important;
}
.image-container
{
    order: 1 !important;
    float: left !important;
    width: 25% !important;
    background: yellow;
}

.image
{
  height: 150px !important;
  width: 150px !important;
}



.imageHolder
{
  height:160px;
}

/*.image {
  float: left;
  display: inline-block;
  margin: 6px;
  width: 150px;
  height: 150px;
  background: center center no-repeat;
  background-size: contain;
  position: relative;
  background-color: lightgrey;
}

.x-mark {
    width: 20px;
    height: 20px;
    text-align: center;
    cursor: pointer;
    border-radius: 2px;
    float: right;
    background-color: black;
    opacity: .7;
    color: white;
    margin: 2px;
}

.x-mark.hide {
  display: none;
}

.close {
    width: 20px;
    height: 20px;
    opacity: .7;
    position: relative;
    padding-right: 3px;
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;

    &:before {
      transform: rotate(45deg);
    }

    &:after {
      transform: rotate(-45deg);
    }
    &:before, &:after{
      border-radius: 2px;
      position: absolute;
      content: '';
      height: 16px;
      width: 2px;
      top: 2px;
      background-color: #FFFFFF;
    }
}

.btnUpload {
  display: inline-block;
  vertical-align: middle;
  margin-top: 9%;
}*/


.onboarding-content{
  margin-bottom:0!important;
  padding-bottom:136px;
}
.onboarding{
  .title{
    font-size:29px;
    margin:0 0 52px 0;
    color:$grey;//#666;
  }
  .step
  {
    font-size: 14px;
    color: #666;
    margin-bottom:25px;
  }
  .stepHeader{
    font-size:27px;
    margin-bottom:20px;
  }
  .upload-image-section{
    margin-bottom:30px;
    .profile-photo{
      width:164px;
      height:164px;
      background-color: #f1f1f1;
      display:inline-block;
      margin-right:25px;
      text-align: center;
      vertical-align: middle;
    }
  }
  .onboarding-btn{
    padding:10px 100px;
  }
  textarea{
    height:80px;
    resize: none;
  }
  .lookingFor{

      .lookingFor-thumb{
        background-color: #e2e2e2;
        padding:50px 0;
        height:225px;
        position:relative;
        i{
          display:inline-block;
          position:absolute;
          width:100px;
          height:100px;
          left:50%;
          top:50%;
          margin:-50px 0 0 -50px;
          &.personal{
            background:url("../../images/man-user.svg") no-repeat scroll center center / 100%;
          }
          &.professional{
            background:url("../../images/man.svg") no-repeat scroll center center / 100%;
          }
          &.intellectual{
            background:url("../../images/intellectual.svg") no-repeat scroll center center / 100%;
          }
          &.auditory{
            background:url("../../images/auditory.svg") no-repeat scroll center center / 100%;
          }
          &.read-write{
            background:url("../../images/read-write.svg") no-repeat scroll center center / 100%;
          }
        }
      }
      .learner{
        height:175px;
         i{
           width:75px;
           height:75px;
           margin:-37px 0 0 -37px;
           &.fa{
             font-size:75px;
             color:#666;
           }
         }
      }
      .lookingForTitle{
        display:block;
        margin-top:10px;
        font-size:20px;
        color:#666;
      }
      .lookingForDesc{
        margin:10px 0 0 0;
        font-size:13px;
        color:#666;
      }
  }
}
label.check > input, label.radiobox > input{display: none;}
label.check, label.radiobox{
  font-size: 14px;
  font-weight: normal;
  position:absolute;
  top:5px;
  right:25px;
  z-index: 1;
}
label.check i, label.radiobox i {
    height: 24px;
    width: 24px;
    background-color: #fff;
    display: inline-block;
    position: relative;
    left: 0px;
    top: 5px;
    border-radius:5px;
    border:1px solid #ccc;
    font-style:normal;
}
label.radiobox i{border-radius:50%;}
label.check [type=checkbox]:checked + i, label.radiobox input[type=radio]:checked+i{
  background-color: #0091ea;
  border:none;
}
label.check [type=checkbox]:checked + i:before, label.radiobox [type=radio]:checked + i:before {
  // display:inline-block;
  // content: '\f00c';
  // position: absolute;
  // top: 2px;
  // left: 4px;
  // color:#fff;
  // font-family:"FontAwesome";
}
label.radiobox [type=radio]:checked + i:before {top:3px; left:5px;}
.follow-people{
  &{
    position:relative;
    min-height: 80px;
    margin-bottom:30px;
  }
  .fp-thumb{
    position:absolute;
  }
  .fp-name{
    &{
      font-size:1.2500em;
      line-height: 32px;
      position: relative;
      padding-left: 95px;
    }
    .fp-designation{
      color:#999;
      display:block;
    }
  }
  label.radiobox{
    top:50px;
    left:0;
    right:auto;
  }
}
.social-media-box{
.social-icon{
  &{
    width:82px;
    height: 82px;
    border-radius: 50%;
    margin-right:37px;
    margin-bottom:20px;
    color:#fff;
    text-align: center;
    float:left;
  }
  &.facebook{
    background-color:#3b5998;
  }
  &.google{
    border: 1px solid #ccc;
    .fa-google:after{
      background:url("../../images/google-logo.svg") no-repeat scroll center center / 100%;
      content:'';
      display:inline-block;
      position:absolute;
      width:35px;
      height:35px;
      left:0;
    }
  }
  &.linkedin{
    background-color:#0077b5;
  }
  &.instagram{
    background:url("../../images/Instagram.png") no-repeat scroll center center / 100%;
  }
  &.twitter{
    background-color:#55acee;
  }
  &.snapchat{
    background-color:#ffe400;
  }
  .fa{
    font-size: 40px;
    padding-top: 22px;
    text-align: center;
    position: relative;
  }
  &:last-child{
    margin-right:0;
  }
}
}
.btn-connect-start{
padding:10px 90px;
}
.btn-connect-invite{
padding:10px 40px;
margin-left:10px;
}
.social-icon-invite{
&{
  float:left;
  line-height: 38px;
  margin-left:10px;
  color:#2472ff;
}
& [class^="icon-"]{
  width:38px;
  height:38px;
  border-radius: 50%;
  color:#fff;
  text-align: center;
  display:inline-block;
}
.icon-facebook{
  background-color:#3b5998;
}
.icon-google{
  border:1px solid #ccc;
  .fa-google:after{
    background:url("../../images/google-logo.svg") no-repeat scroll center center / 100%;
    content:'';
    display:inline-block;
    position:absolute;
    width:18px;
    height:18px;
    left:-2px;
    top:9px;
  }
}
.fa{
  font-size:18px;
  line-height:38px;
  text-align:center;
  position:relative;
}

}

/* ----- onboarding footer ----- */
.onboarding-footer{
  padding:20px 0;
  background-color:#fbfbfb;
  position:absolute;
  width:100%;
  bottom:0;
  left:0;
  right:0;

  .label-completed{
    font-size: 12px;
    text-transform: uppercase;
    color: #999;
  }
  .progressBar{
    margin-top:10px;
    background-color: #e2e2e2;
    width:410px;
    height:8px;
    position: relative;
    span{
      display:inline-block;
      position: absolute;
      height:100%;
      transition:0.2s;
      background-color:#9b9b9b;
    }
  }
  .onboarding-footer-btn{
    color:#ccc;
    float:right;
    .fa-chevron-right{
      vertical-align: middle;
    }
    &:hover, &:active, &:focus{
      color:#fff;
      box-shadow:none;
      border:none;
    }
  }
}
//Convert to scss
.navbar-fixed-left {
  width: 180px;
  position: fixed;
  border-radius: 0;
  height: 100%;
}

.disableClick{
    pointer-events: none;
}

.navbar-fixed-left .navbar-nav > li {
  float: none;  /* Cancel default li float: left */
  width: max-content;
  height: 30px;

}

.navbar-fixed-left + .container {
  padding-left: 160px;
}

/* On using dropdown menu (To right shift popuped) */
.navbar-fixed-left .navbar-nav > li > .dropdown-menu {
  margin-top: -50px;
  margin-left: 140px;
}

.navbar-nav li{
color: white;
cursor: pointer
}