<div class="position-relative">
  <!--class="position-relative"-->
  <!-- content starts here-->
  <div class="navbar navbar-inverse navbar-fixed-left">
    <a class="navbar-brand" href="#">Brand</a>
    <ul class="nav navbar-nav">
      <li><a class="disableClick"><strong>About</strong></a></li>
      <li><a href="#">Your photo</a></li>
      <li><a href="#">Your Bio</a></li>
      <li><a href="#">Language</a></li>
      <li><a href="#">Topic Category</a></li>
      <hr>
      <li><a class="disableClick"><strong>Workshop</strong></a></li>
      <li><a href="#">Workshop Title</a></li>
      <!--headliner-->
      <li><a href="#">What We'll Teach</a></li>
      <li><a href="#">Who should come</a></li>
      <li><a href="#">How many learners?</a></li>
      <li><a href="#">Workshop Photos</a></li>
      <li><a href="#">Timeline</a></li>
      <li><a href="#">Session Dates</a></li>
      <hr>
      <li><a class="disableClick"><strong>Finishing Touches</strong></a></li>
      <li><a href="#">Seats Available</a></li>
      <li><a href="#">Age requirements</a></li>
      <li><a href="#">Apointments</a></li>
      <li><a href="#">Price</a></li>
      <li><a href="#">Prepareation Time</a></li>
      <li><a href="#">Payment Option</a></li>
      <li><a href="#">Review and Submit</a></li>

    </ul>
  </div>
  <div class="container">
    <div id="content" class="onboarding-content">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <progressbar [max]="max" [value]="step">
            <span style="color:white; white-space:nowrap;">{{step}} / {{max}}</span>
          </progressbar>
          {{workshop.value | json}}
        </div>
      </div>
      <div class="container-fluid">
        <div class="onboarding step-1" [hidden]="step!=1">
          <div class="row">
            <div class="col-sm-7">
              <h1 class="title">Let people know who you are</h1>
              <!--[routerLink]="['/login']"-->
              <div class="stepHeader">Upload the happiest photo of yourself</div>
              <form [formGroup]="profile" (ngSubmit)="submitProfile(profile)" novalidate>

                <div class="upload-image-section imageHolder">

                  <image-upload [max]="1" [buttonCaption]="'Upload Image'" [dropBoxMessage]="''" (onFileUploadFinish)="imageUploaded($event)"></image-upload>

                </div>


                <button class="onboarding-btn btn btn-lg btn-default" type="Submit">Next</button>
              </form>
            </div>
            <!-- onboarding ends here-->
          </div>
        </div>
        <!-- step 1 ends here -->
        <div class="onboarding step-2" [hidden]="step!=2">
          <div class="row">
            <div class="col-sm-7">
              <h1 class="title">Tell us your bio</h1>
              <form [formGroup]="profile" (ngSubmit)="submitProfile(profile)">
                <div class="row">
                  <div class="col-sm-12 margin-bottom-30">
                    <div class="form-group">
                      <label class="display-block">Give us a short description about yourself</label>
                      <textarea class="form-control" maxlength="5000" formControlName="description"></textarea>
                      <span class="text-right text-grey display-block margin-top-5">max. 5000 chars</span>
                    </div>
                  </div>
                </div>
                <button class="onboarding-btn btn btn-lg btn-default" type="Submit">Next</button>
              </form>
            </div>
          </div>
        </div>
        <!-- step 2 ends here -->
        <div class="onboarding step-3" [hidden]="step!=3">
          <div class="row">
            <div class="col-sm-7">
              <h1 class="title">What languages are it going to be in</h1>
              <form [formGroup]="workshop" (ngSubmit)="submitWorkshop(workshop)">
                <div class="row">
                  <div class="col-sm-12 margin-bottom-30">
                    <div class="row">
                      <select class="form-control" formControlName="languages">
                      <option [value]="">--Select--</option>
                      <option *ngFor="let l of languagesArray" [value]="l.code">{{l.name}} </option>
                    </select>
                    </div>
                  </div>
                </div>
                <button class="onboarding-btn btn btn-lg btn-default " type="Submit">Next</button>
              </form>
            </div>
          </div>
        </div>
        <!-- step 3 ends here -->
        <div class="onboarding step-4" [hidden]="step!=4">
          <div class="row">
            <div class="col-sm-7">
              <div class="stepHeader">What topic catagory is this Workshop? </div>
              <form [formGroup]="interest1" (ngSubmit)="submitInterests(interest1)">
                <div class="row">
                  <div class="col-sm-12 margin-bottom-30">
                    <div class="row">
                      <div class="col-sm-10">
                        <multiselect-autocomplete [list]="suggestedTopics" (selectedOutput)="selected($event)" [placeholder]="placeholderStringTopic"></multiselect-autocomplete>
                      </div>
                      <div class="col-sm-12 margin-top-30">
                        <div class="text-uppercase text-grey margin-bottom-10">Suggested Topics</div>
                      </div>
                      <div class="col-sm-3" *ngFor="let topic of suggestedTopics">
                        <div class="lookingFor interest">
                          <label class="check">
                            <input type="checkbox"
                                    (change)="changeInterests(topic)">
                                    <i></i>
                          </label>
                          <div class="lookingFor-thumb">
                            <i class="topic.id"></i>
                          </div>
                          <span class="lookingForTitle">{{ topic.name }} - {{topic.type}}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <button class="onboarding-btn btn btn-lg btn-default">Next</button>
              </form>
            </div>
          </div>
        </div>
        <!-- step 4 ends here  -->
        <div class="onboarding step-5" [hidden]="step!=5">
          <div class="row">
            <div class="col-sm-12">
              <form [formGroup]="workshop" (ngSubmit)="submitWorkshop(workshop)">
                <div class="row">
                  <div class="col-sm-12 margin-bottom-30">
                    <div class="form-group">
                      <label class="display-block">Name to Your workshop</label>
                      <input type="text" class="form-control" formControlName="title" />
                    </div>
                  </div>
                  <div class="col-sm-12 margin-bottom-30">
                    <div class="form-group">
                      <label class="display-block">Give a descriptive oneliner sentenc</label>
                      <input type="text" class="form-control" formControlName="headline" />
                    </div>
                  </div>
                </div>
                <button class="onboarding-btn btn btn-lg btn-default" type="Submit">Next</button>
              </form>
            </div>
          </div>
        </div>
        <!-- step 5 ends here -->
        <div class="onboarding step-6" [hidden]="step!=6">
          <div class="row">
            <form [formGroup]="workshop" (ngSubmit)="submitWorkshop(workshop)">
              <div class="row">
                <div class="col-sm-12 margin-bottom-30">
                  <div class="form-group">
                    <label class="display-block">What we’ll teach</label>
                    <textarea class="form-control" maxlength="200" formControlName="description"></textarea>
                    <span class="text-right text-grey display-block margin-top-5">max. 200 chars</span>
                  </div>
                </div>
              </div>
              <button class="onboarding-btn btn btn-lg btn-default" type="Submit">Next</button>
            </form>
          </div>
        </div>
        <!-- step 6 ends here -->
        <div class="onboarding step-7" [hidden]="step!=7">
          <div class="row">
            <div class="col-sm-12">
              <h1 class="title">Who should come</h1>
              <form [formGroup]="workshop" (ngSubmit)="submitWorkshop(workshop)">
                <div class="col-sm-12 margin-bottom-30">
                  <select class="form-control" formControlName="difficultyLevel">
                      <option [value]="">--Select--</option>
                      <option *ngFor="let d of difficulties" [value]="d">{{d}} </option>
              </select>
                </div>
                <div class="col-sm-12 margin-bottom-30">
                  <div class="form-group">
                    <label class="display-block">Notes</label>
                    <textarea class="form-control" maxlength="5000" formControlName="notes"></textarea>
                    <span class="text-right text-grey display-block margin-top-5">max. 5000 chars</span>
                  </div>
                </div>
                <button class="onboarding-btn btn btn-lg btn-default" type="Submit">Next</button>
              </form>
            </div>
          </div>
        </div>
        <!-- step 7 ends here -->
        <div class="onboarding step-8" [hidden]="step!=8">
          <div class="row">
            <div class="col-sm-7">
              <div class="stepHeader">How many learners? </div>
              <form [formGroup]="workshop" (ngSubmit)="submitWorkshop(workshop)">
                <div class="col-sm-12 margin-bottom-30">
                  <input type="number" formControlName="maxSpots">
                </div>
                <button class="onboarding-btn btn btn-lg btn-default" type="Submit">Next</button>
              </form>
            </div>
          </div>
        </div>
        <!-- step 8 ends here -->
        <div class="onboarding step-9" [hidden]="step!=9">
          <div class="row">
            <div class="col-sm-7">
              <div class="stepHeader">Showcase your workshop</div>
              <form [formGroup]="workshop" (ngSubmit)="submitWorkshop(workshop)" novalidate>
                <div class="row">
                  <div class="upload-image-section imageHolder">
                    <div class="step">Upload Video</div>
                    <image-upload [max]="1" [buttonCaption]="'Upload Video'" [dropBoxMessage]="''" (onFileUploadFinish)="workshopVideoUploaded($event)"></image-upload>
                    <div class="step">Upload Images</div>
                    <image-upload [max]="1" [buttonCaption]="'Upload Image'" [dropBoxMessage]="''" (onFileUploadFinish)="workshopImageUploaded($event)"></image-upload>
                    <image-upload [max]="1" [buttonCaption]="'Upload Image'" [dropBoxMessage]="''" (onFileUploadFinish)="workshopImageUploaded($event)"></image-upload>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-8">
                    <button class="onboarding-btn btn btn-lg btn-default" type="Submit">Next</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <!-- step 9 ends here -->
        <div class="onboarding step-10 invite-people-to-join" [hidden]="step!=10">
          <div class="row">
            <div class="col-sm-12">
              <div class="stepHeader">What days are your workshop?</div>

            </div>
          </div>
        </div>
        <div class="onboarding step-11 invite-people-to-join" [hidden]="step!=11">
          <div class="row">
            <div class="col-sm-12">
              <div class="stepHeader">Are you open for appointments?</div>

            </div>
          </div>
        </div>
        <div class="onboarding step-12 invite-people-to-join" [hidden]="step!=12">
          <div class="row">
            <div class="col-sm-12">
              <div class="stepHeader">What is the price of the workshop?</div>

            </div>
          </div>
        </div>
        <div class="onboarding step-13 invite-people-to-join" [hidden]="step!=13">
          <div class="row">
            <div class="col-sm-12">
              <div class="stepHeader">Review and submit</div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>